.mainButton {
  text-transform: capitalize;
  border: 2px solid red;
  text-align: center;
  padding: 5px 15px;
  background-color: transparent;
  position: relative;
  color: brown;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.overLay{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: translateX(-10px);
    background-color: cadetblue;
    z-index: -1;
    /* -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px); */
}
